.search-box {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: auto;

  .search-input {
    height: 2.875rem;
    width: 19.75rem;
    border-radius: 1.188rem !important;
    background-color: $white;
    box-shadow: 0 0.125rem 0.875rem 0 $defaultTextColor(220 220 220 / 50%);
    border: 0;
    font-family: $font-default;
    border: 1px solid #ddd;
    padding: 20px 25px;
    padding-left: 10px;
  }

  .search-panel {
    color: $grey;
    position: absolute;
    top: 1rem;
    right: 0.938rem;
    z-index: 999;

    .search-icon {
      width: 1.438rem;
      height: 1.438rem;
    }
  }
}