@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.bg-forgot-password {
  font-size: 12px;
  font-family: $font-family;
  background-image: url(../../assets/svg/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  .text-color3 {
    color: $light-gray;
  }
  .login-btn {
    background-color: $defaultTextColor;
    border-radius: 18px !important;
    color: $white !important;
    width: 100% !important;
  }
  .upper-case {
    text-transform: uppercase;
  }
  .form-error {
    color: $form-error;
    margin-bottom: 0.5rem;
    .error-msg-txt {
      font-size: 1.75rem;
    }
  }
  .card-content {
    height: auto;
    padding: 0.5rem 1.5rem;
  }
  .card-width {
    height: auto;
    width: 426px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .recoveryText {
    padding: 2.9rem 2.2rem;
    font-family: $font-family;
  }
}
