@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.bg-login {
  font-size: 12px;
  font-family: $font-family;
  background-image: url(../../assets/svg/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;

  .forgot-password {
    color: $defaultTextColor;
    font-family: $font-family;
    font-size: 14px;
  }

  .text-color3 {
    color: $light-gray;
  }

  .remember-me-container {

    input[type='radio'],
    label {
      cursor: pointer;
    }
  }

  .login-btn {
    background-color: $defaultTextColor;
    border-radius: 18px !important;
    color: $white !important;
    width: 100% !important;
  }

  .google-login-btn {
    background-color: white;
    border-color: #E1E1E1;
    border-radius: 18px !important;
    color: #757575;
    width: 100% !important;
    position: relative;
    padding: 10px 0;
    cursor: auto;

    .sl-spinner3 {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 5px;
      left: 45px;
      color: #7b7878;
    }
  }

  .upper-case {
    text-transform: uppercase;
  }

  .form-error {
    color: $form-error;
    margin-bottom: 1.5rem;
    margin-top: -12px;
    font-size: 14px;

    .error-msg-txt {
      font-size: 12px;
      padding-left: 4px;
    }
  }

  .card-content {
    height: auto;
    padding: 0.5rem 1.5rem;
  }

  .card-width {
    height: auto;
    width: 426px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .straight-line {
    height: 0.5px;
    width: 151px;
    background-color: #d4d4d4;
  }

  .round-checkbox {
    border-radius: 50%;
  }

}

.app-logo {
  width: auto;
  height: 90px;
  margin-left: 0px;
  margin-top: 0px;
}