.page-not-found-main-container {
        .bg-placeholder {
          width:auto;
          height:123px;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../../assets/svg/bg.svg);
          .fs-12 {
            font-size: 1.75rem;
          }
          .icon-size {
            font-size: 1.375rem;
            padding-left: 0.5rem;
            &:hover {
              cursor: pointer;
            }
          }
        }
}