.page-not-found {
  display: flex;
  height: calc(100vh - 200px);
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 0;

    img {
      height: 100%;
    }
  }

  .page-not-available-label {
    font-size: 30px;
    color: $grey;
    margin-bottom: 1.5rem;
  }

  .back-to-home {
    font-size: 16px;
    color: $defaultTextColor;
    cursor: pointer;
  }
}